<div class="jumbotron">
    <h1>Servicio API Unitec Corriendo!!!</h1>
    <p class="lead">Ricardo Montero Escudero</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Herramientas</h2>
        <p>Angular 7 - SQL server 2017, Visual Studio 2017, HTML, Visual Studio CODE, jquery, Javascript, Bootstrap,Entity framework, Local DB, Entre otras.</p>
    </div>
    
</div>
